<template>
  <div class="login mt-5">
    <v-card class="mx-auto my-12" max-width="1000">
      <v-card-title>Task List</v-card-title>
      <v-card-text>
         <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Name
                </th>
                <th class="text-left">
                  Date & Time
                </th>
                <th class="text-left">
                  Task Name
                </th>
                <th class="text-left">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item in taskList"
                :key="item.id"
                 v-bind:class="[item.status == 'completed' ? activeClass : '']"
              >
                 <td>{{ item.name }}</td>
                <td>{{ item.created_on }}</td>
                <td>{{ item.task_name }}</td>
                <td><v-btn color="primary" class="mr-4" @click="createSubTask(item.id)">Create Sub Task</v-btn>
                <v-btn color="primary" class="mr-4" @click="taskClone(item.id)">Clone</v-btn>
                <v-btn color="primary" class="mr-4" @click="editTask(item.id)">Edit</v-btn>
                <v-btn color="primary" class="mr-4" @click="taskDelete(item.id)">Delete</v-btn>
                <v-btn color="primary" class="mr-4" @click="taskView(item.id)">View</v-btn></td>
               
              </tr>
            </tbody>
          </template>
          
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { api } from '@/services/services'

export default {
  data: function () {
    return {
      errorMessage:'',
      valid: true,
      activeClass: 'activeClass',
      taskList: [],
      }
  },

  created(){
    this.getTaskList();
  },

  methods: {
     async getTaskList(){
        const user_id = JSON.parse(localStorage.getItem('user')).id;
        await api.getTask(user_id).then((res)=>{
          this.taskList = res.data;
        });
     },

    async createSubTask(task_id) {
      this.$router.push({ path:'/subtask/'+task_id })
    },

    async editTask(task_id){
      this.$router.push({ path:'/edittask/'+task_id })
    },

    async taskView(task_id){
      this.$router.push({ path:'/viewtask/'+task_id })
    },

    async taskDelete(task_id){
      if(confirm("Do you really want to delete?")){
        await api.deleteTask(task_id).then(()=>{
              this.getTaskList();
         }).catch(()=>{
           this.errorMessage = "Please try again";
         })
      }
    },

    async taskClone(task_id){
      await api.cloneTask(task_id).then(()=>{
              this.getTaskList();
         }).catch(()=>{
           this.errorMessage = "Please try again";
         })
    }
  },
};
</script>
<style scoped>
.activeClass{
  background-color: green;
}
</style>