<template>
  <v-card
    class="mx-auto"
  >

     <v-card-title v-if="taskDetails && taskDetails.name">Task Details Of {{taskDetails.name}}</v-card-title>

   <v-card-text>
      <v-row
        align="center"
        class="mx-0"  v-if="taskDetails && taskDetails.task_name"
      >
       Task Name:  {{taskDetails.task_name}}
      </v-row>
      <v-row
        align="center"
        class="mx-0"  v-if="taskDetails && taskDetails.created_on"
      >
       Date & Time:  {{taskDetails.created_on}}
      </v-row>
       <v-row
        align="center"
        class="mx-0" v-if="taskDetails && taskDetails.start_time"
      >
       Start Time:  {{taskDetails.start_time}}
      </v-row>
       <v-row
        align="center"
        class="mx-0" v-if="taskDetails && taskDetails.end_time"
      >
       End Time:  {{taskDetails.end_time}}
      </v-row>
       <v-row
        align="center"
        class="mx-0" v-if="taskDetails && taskDetails.status"
      >
       Status:  {{taskDetails.status}}
      </v-row>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>
    <v-card-actions v-if="taskDetails && taskDetails.status != 'completed'">
      <v-btn
        color="deep-purple lighten-2"
        text
        @click="manageSubTaskTime(taskDetails.id)"
      >
        {{timeText}}
      </v-btn>
       <div>
        <select @change="getStatus($event)">
          <option value="0">--status--</option>
          <option value="inprogress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>
      
    </v-card-actions>
    
  </v-card>
</template>
<script>
import { api } from '@/services/services'

export default {
  data: function () {
    return {
      taskDetails:null,
      timeText:'Start Time',
    };
  },
created(){
   const task_id = this.$route.params.id;
    this.getTaskDetails(task_id);
  },

  methods: {
     async getTaskDetails(task_id){
        await api.viewSubTask(task_id).then((res)=>{
          this.taskDetails = res.data;
          if(this.taskDetails.end_time == null){
            this.timeText = 'Stop Time'
          }
        });
     },

     async manageSubTaskTime(task_id){
       let timeType;
       if(this.timeText == 'Start Time'){
         timeType = 'start';
       }else if(this.timeText == 'Stop Time'){
         timeType = 'end';
       }
       await api.manageSubTaskTime(timeType,task_id).then(()=>{
          if(this.timeText == 'Start Time'){
            this.timeText = 'Stop Time';
          }else{
            this.timeText = 'Start Time';
          }
           this.getTaskDetails(task_id);
        });
     },

     async getStatus(event){
        await api.changeSubTaskStatus(event.target.value,this.taskDetails.id).then(()=>{
           this.getTaskDetails(this.taskDetails.id);
        });
     }
  },
};
</script>