<template>
  <div class="login mt-5">
    <v-card class="mx-auto my-12" max-width="500">
      <v-card-title v-if="$route.params.id">Create Sub Task</v-card-title>
       <v-card-title v-if="!$route.params.id">Create Task</v-card-title>
      <v-card-text>
         <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="details.name"
            label="Name"
            :rules="nameRules"
          ></v-text-field>
          <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="date"
         
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="details.created_on"
            label="Date Time"
            readonly
            :rules="nameRules"
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          v-model="details.created_on"
          no-title
           :min="disabledDates"
          :max="getEndDate"
          scrollable
        >
          <v-spacer></v-spacer>
          <v-btn
            text
            color="primary"
            @click="menu = false"
          >
            Cancel
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.menu.save(details.created_on)"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-menu>
          <v-text-field
            v-model="details.task_name"
            label="Task Name"
            :rules="nameRules"
            required
          ></v-text-field>
          <v-btn color="primary" class="mr-4" @click="submit" v-if="!$route.params.id"> Create </v-btn>
          <v-btn color="primary" class="mr-4" @click="submit" v-if="$route.params.id"> Edit </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { api } from '@/services/services'

export default {
  data: function () {
    return {
      date: new Date(), 
      menu: false,
      modal: false,
      errorMessage:'',
      nameRules: [(v) => !!v || "Name is required"],
      valid: true,
      disabledDates:  new Date().toISOString().slice(0,10),
      taskDetails:null,
      details: {
        name: null,
        created_on: null,
        task_name: null,
        user_id:null,
        task_id:null,
        id:null
      },
    };
  },
  created(){
    const task_id = this.$route.params.id;
    this.getTaskDetails(task_id);
  },
 computed: {
    getEndDate() {
     var endDate = new Date(this.date.getFullYear(), this.date.getMonth() + 1, 10);
     return endDate.toISOString().slice(0,10)
    }
  },
  methods: {
     async getTaskDetails(task_id){
        await api.viewTask(task_id).then((res)=>{
        this.details.name= res.data.name
        this.details.created_on= res.data.created_on
        this.details.task_name= res.data.task_name
        this.details.user_id=res.data.user_id
        this.details.task_id=res.data.task_id
        this.details.id=res.data.id
        });
     },
     
     async submit() {
      if(this.$refs.form.validate()){
        if(this.$route.params.id){
          this.details.id = this.$route.params.id
        }
         this.details.user_id = JSON.parse(localStorage.getItem('user')).id;
         await api.createTask(this.details).then(()=>{
             this.$router.push({ path:'/tasklist' })
           
         }).catch(()=>{
           this.errorMessage = "Please try again";
         })
      }
    },
  },
};
</script>