<template>
  <v-card
    class="mx-auto"
  >

    <v-card-title v-if="taskDetails && taskDetails.name">Task Details Of {{taskDetails.name}}</v-card-title>

   <v-card-text>
      <v-row
        align="center"
        class="mx-0"  v-if="taskDetails && taskDetails.task_name"
      >
       Task Name:  {{taskDetails.task_name}}
      </v-row>
      <v-row
        align="center"
        class="mx-0"  v-if="taskDetails && taskDetails.created_on"
      >
       Date & Time:  {{taskDetails.created_on}}
      </v-row>
       <v-row
        align="center"
        class="mx-0" v-if="taskDetails && taskDetails.start_time"
      >
       Start Time:  {{taskDetails.start_time}}
      </v-row>
       <v-row
        align="center"
        class="mx-0" v-if="taskDetails && taskDetails.end_time"
      >
       End Time:  {{taskDetails.end_time}}
      </v-row>
       <v-row
        align="center"
        class="mx-0" v-if="taskDetails && taskDetails.status"
      >
       Status:  {{taskDetails.status}}
      </v-row>
    </v-card-text>

<v-divider class="mx-4"></v-divider>
    <v-card-actions v-if="taskDetails && taskDetails.status != 'completed'">
      <v-btn
        color="deep-purple lighten-2"
        text
        @click="manageTime(taskDetails.id)"
      >
        {{timeText}}
      </v-btn>
       <v-btn
        color="deep-purple lighten-2"
        text
        @click="createSubTask(taskDetails.id)"
      >
        Create Sub Task
      </v-btn>
       <div>
        <select @change="getStatus($event)">
          <option value="0">--status--</option>
          <option value="inprogress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>
      
    </v-card-actions>
    <v-divider class="mx-4"></v-divider>
    <v-card-title>Sub Task</v-card-title>

    <v-card-text v-if="taskDetails && taskDetails.subtasks">
       <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  Name
                </th>
                <th class="text-left">
                  Date & Time
                </th>
                <th class="text-left">
                  Task Name
                </th>
                <th class="text-left">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item in taskDetails.subtasks"
                :key="item.id"
                 v-bind:class="[item.status == 'completed' ? activeClass : '']"
              >
                <td>{{ item.name }}</td>
                <td>{{ item.created_on }}</td>
                <td>{{ item.task_name }}</td>
                <td>
                  <v-btn color="primary" class="mr-4" @click="subTaskClone(item.id)">Clone</v-btn>
                  <v-btn color="primary" class="mr-4" @click="editTask(item.id)">Edit</v-btn>
                  <v-btn color="primary" class="mr-4" @click="taskDelete(item.id)">Delete</v-btn>
                  <v-btn color="primary" class="mr-4" @click="viewTask('subtask',item.id)">View</v-btn>
                </td>
              </tr>
            </tbody>
          </template>
          
        </v-simple-table>
    </v-card-text>

  </v-card>
</template>
<script>
import { api } from '@/services/services'

export default {
  data: function () {
    return {
      taskDetails:null,
      activeClass:'activeClass',
      timeText:'Start Time',
    };
  },
created(){
    const task_id = this.$route.params.id;
    this.getTaskDetails(task_id);
  },

  methods: {
     async createSubTask(task_id) {
       this.$router.push({ path:'/subtask/'+task_id })
     },

     async getTaskDetails(task_id){
        await api.viewTask(task_id).then((res)=>{
          this.taskDetails = res.data;
        });
     },
     
     async subTaskClone(task_id){
      await api.cloneSubTask(task_id).then(()=>{
              this.$router.push({ path:'/tasklist' })
         }).catch(()=>{
           this.errorMessage = "Please try again";
         })
    },

      async editTask(task_id){
      this.$router.push({ path:'/editsubtask/'+task_id })
    },

     async viewTask(type,task_id){
       this.$router.push({ path:'/viewsubtask/'+task_id })
     },

    async taskDelete(task_id){
      if(confirm("Do you really want to delete?")){
        await api.deleteSubTask(task_id).then(()=>{
              this.getTaskDetails(task_id);
         }).catch(()=>{
           this.errorMessage = "Please try again";
         })
      }
    },

      async manageTime(task_id){
       let timeType;
       if(this.timeText == 'Start Time'){
         timeType = 'start';
       }else if(this.timeText == 'Stop Time'){
         timeType = 'end';
       }
       await api.manageTime(timeType,task_id).then(()=>{
          if(this.timeText == 'Start Time'){
            this.timeText = 'Stop Time';
          }else{
            this.timeText = 'Start Time';
          }
           this.getTaskDetails(task_id);
        });
     },

     async getStatus(event){
        await api.changeStatus(event.target.value,this.taskDetails.id).then(()=>{
           this.getTaskDetails(this.taskDetails.id);
        });
     }

  },
};
</script>
<style scoped>
.activeClass{
  background-color: green;
}
</style>