<template>
  <div class="login mt-5">
    <v-card class="mx-auto my-12" max-width="500">
      <v-card-title>Login</v-card-title>
      <v-card-text>
         <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="submit">
          <v-text-field
            v-model="details.email"
            label="Email"
            required
          ></v-text-field>
          <v-text-field
            v-model="details.password"
            label="Password"
            type="password"
            required
          ></v-text-field>
          <v-btn color="primary" class="mr-4" type="submit"> Login </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { api } from '@/services/services'
import { mapActions } from 'vuex'

export default {
  data: function () {
    return {
      valid: true,
      passwordRules: [
        (value) => !!value || "Please type password.",
        (value) => (value && value.length >= 6) || "minimum 6 characters",
      ],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      details: {
        email: null,
        password: null,
      },
    };
  },

  methods: {
     ...mapActions('user',['loginUser']),
    async submit() {
      if(this.$refs.form.validate()){
         await api.login(this.details).then((res)=>{
             this.loginUser(res.data.data);
             window.location.href="/task"
             setTimeout(()=>{
               window.location.reload();
             },500)
         })
         
      }
    },
  },
};
</script>
