<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>
      <v-btn
        text
         v-if="!isLoggedIn"
        to="/login"
      >
      <span class="mr-2">Login</span>
      </v-btn>
      <v-btn
       v-if="!isLoggedIn"
        text
        to="/register"
      >
      <span class="mr-2">Register</span>
      </v-btn>
      <v-btn
        text
         v-if="isLoggedIn"
        @click="logout"
      >
      <span class="mr-2">Logout</span>
      </v-btn>
      <v-btn
        text
         v-if="isLoggedIn"
        to="/task"
      >
      <span class="mr-2">Create Task</span>
      </v-btn>
      <v-btn
        text
         v-if="isLoggedIn"
        to="/tasklist"
      >
      <span class="mr-2">Task List</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),

  computed: {
    isLoggedIn: function () {
      return localStorage.getItem('user') && localStorage.getItem('user').length>0;
    }
  },

  methods: {
    logout() {
      this.$store.dispatch('user/LogOut')
      this.$router.push('/login')
      setTimeout(()=>{
               window.location.reload();
             },500)
    }
  }
};
</script>
