<template>
  <div class="login mt-5">
    <v-card class="mx-auto my-12" max-width="500">
      <v-card-title>Register</v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="details.name"
            label="Name"
            :rules="nameRules"
            required
          ></v-text-field>
          <v-text-field
            type="email"
            v-model="details.email"
            :rules="emailRules"
            label="Email"
            required
          ></v-text-field>
          <span>{{errorMessage}}</span>
          <v-text-field
            v-model="details.password"
            :rules="passwordRules"
            label="Password"
            type="password"
            required
          ></v-text-field>
          <v-text-field
            v-model="details.password_confirmation"
            :rules="confirmPasswordRules"
            label="Confirm Password"
            type="password"
            required
          ></v-text-field>
          <v-btn color="primary" class="mr-4" @click="submit">
            Register
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { api } from '@/services/services'
import { mapActions } from 'vuex'

export default {
  data: function () {
    return {
      errorMessage:'',
      valid: true,
      nameRules: [(v) => !!v || "Name is required"],
      passwordRules: [
        (value) => !!value || "Please type password.",
        (value) => (value && value.length >= 6) || "minimum 6 characters",
      ],
      confirmPasswordRules: [
        (value) => !!value || "type confirm password",
        (value) =>
          value === this.details.password ||
          "The password confirmation does not match.",
      ],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      details: {
        name: null,
        email: null,
        password: null,
        password_confirmation: null,
      },
    };
  },

  methods: {
     ...mapActions('user',['saveUser']),
     async submit() {
      if(this.$refs.form.validate()){
         await api.register(this.details).then((res)=>{
           if(res.status == 200){
             this.saveUser(this.details);
             this.$router.push({ path:'/login' })
           }else{
             this.errorMessage = res.data.message;
           }
         }).catch(()=>{
           this.errorMessage = "Please check email or password";
         })
         
      }
    },
  },
};
</script>
